<div id="admin_open_content" style="<%=h show_if_opened(status) %>">
    <a href="<%= hosts_path %>" class="menu_link" title="Hosts">
  	    <div class="menu_link_title">
  	      Hosts
  	    </div>
      </a>
  <a href="<%= users_path %>" class="menu_link" title="Users">
	    <div class="menu_link_title">
	      Users
	    </div>
    </a>
    
    <a href="<%= recipes_path %>" class="menu_link" title="Recipes">
  	    <div class="menu_link_title">
  	      Recipes
  	    </div>
      </a>
    
      
</div>